/**
 * [Thu May 20 2021 16:48:46 GMT+0800 (China Standard Time)]
 * 本文件由 ../../../../../scripts/gen-media-queries.js 生成，请勿直接修改
 */

$ratio-1920 = 1
$ratio-1440 = 0.8384
$ratio-1024 = 0.6829
$ratio-768 = 0.8
$ratio-360 = 0.4

$1920 = '(min-width: 1800px)'
$not-1920 = 'not screen and (min-width: 1800px)'
$1920-width = '(min-width: 1800px)'
$1440 = '(min-width: 1400px) and (max-width: 1799px)'
$not-1440 = 'not screen and (min-width: 1400px) and (max-width: 1799px)'
$1440-width = '(min-width: 1400px) and (max-width: 1799px)'
$1024 = '(min-width: 1024px) and (max-width: 1399px)'
$not-1024 = 'not screen and (min-width: 1024px) and (max-width: 1399px)'
$1024-width = '(min-width: 1024px) and (max-width: 1399px)'
$768 = '(min-width: 721px) and (max-width: 1023px)'
$not-768 = 'not screen and (min-width: 721px) and (max-width: 1023px)'
$768-width = '(min-width: 721px) and (max-width: 1023px)'
$360 = '(max-width: 720px)'
$not-360 = 'not screen and (max-width: 720px)'
$360-width = '(max-width: 720px)'
