if (__ONEPLUS__ && !__AEM__)
  @font-face
    font-family 'Roman-55'
    src url('~@@/fonts/OnePlusSansDisplay-55Rg.ttf') format('truetype')
    // src url('~@@/fonts/NeueHaasGrotTextRound-55Roman.woff2') format('woff2')
    font-style normal

  @font-face
    font-family 'Medium-65'
    src url('~@@/fonts/OnePlusSansDisplay-65Md.ttf') format('truetype')
    font-style normal

  @font-face
    font-family 'Light-45'
    src url('~@@/fonts/OnePlusSansDisplay-45Lt.ttf') format('truetype')
    font-style normal
