-
  function prefixZero(num, n) {
    return (Array(n).join(0) + num).slice(-n);
  }
.zn-wrapper
  canvas.laddu
    - for (let i = 0; i <= 36; i ++)
      img(data-src=`~@@/images/laddu/${prefixZero(i, 5)}.png?{ratio: 0.5}`)
  canvas.laddu-logo
    - for (let i = 0; i <= 36; i ++)
      img(data-src=`~@@/images/laddu-logo/${prefixZero(i, 5)}.png?{ratio: 0.5}`)

