.black
  color black

.white
  color white

.grey
  color rgba(255, 255, 255, 0.56)

.grey-light
  color rgba(255, 255, 255, 0.2)

.grey
  color rgba(0, 0, 0, 0.7)

.grey-light
  color rgba(0, 0, 0, 0.32)

.bg-black
  background-color black

.bg-white
  background-color white
