@import './center.styl'
@import './sticky.styl'
@import './color.styl'
@import './layout.styl'

.clickable
  cursor pointer

.g--cover
  object-fit cover

.g--flex
  display flex

.g--bold
  {font-bold}

.g--medium
  {font-medium}
